.select {
  display: inline-block;
  border: 1px solid #f2f2f2;

  &__current {
    padding: 10px;
    cursor: pointer;
  }

  &__option {
    cursor: pointer;
    padding: 10px;

    &:first-child {
      border-top: 1px solid #f2f2f2;
    }
    
    &:hover {
      background-color: hsla(0, 0%, 60%, 0.24);
    }
  }
}