.slider {
  position: relative;
  background-color: #f2f2f2;
  color: #000;
  width: 280px;
  cursor: pointer;
  margin: auto;
  
  span {
    position: absolute;
    top: -133px;
    left: 0;
    right: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  &__img {
    cursor: pointer;
  }

  &__date {
    padding: 0 20px;
  }
}